/*Fondo*/
body {
    margin: 0;
    background-color: black;
    color: white;
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
}

/*Cabecera*/
header {
    width: 100%;
    text-align: center;
    padding-top: 60px;
}

img {
  max-width: 100%;
  height: auto;
}

header .logo {
  max-width: 60%;
  min-width: 200px;
}

header .firma {
  max-width: 50%;
  min-width: 180px;
}


/*Main general*/
main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    flex-direction: column;
	max-width: 900px;
	margin: 0 auto;
	padding: 20px;
}

main img {
    width: 700px;
    height: auto;
}

.menu-contenedor {
  background: url('img/papel.png') no-repeat center center;
  background-size: contain;
  width: 90%;         /* ocupa hasta el 90% del ancho */
  max-width: 450px;   /* nunca más grande que el original */
  height: auto;
  aspect-ratio: 450 / 368; /* mantiene la proporción del papel */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

/* Opciones */
.menu {
    display: flex;
    flex-direction: column;
}

/* Enlaces del menú */
.menu a {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
    text-align: center;
    margin: 5px 0;
}

/* Imágenes de los botones */
.menu a img {
    width: 300px;
    height: auto;
    transition: transform 0.3s;
}

/* Zoom al pasar el ratón */
.menu a:hover img {
    transform: scale(1.1);
}

/*Footer*/
footer {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    margin-top: 50px;
}
footer img {
    width: 150px;
    height: auto;
}
footer p {
  margin-top: 10px;
  font-size: 14px;
  color: #ccc;
}

/* Enlaces generales */
a {
  color: #f71984;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
  color: #f71984;
}


/*Flores*/
.decor-flor {
    position: fixed;
    z-index: -1;
    pointer-events: none;
}

.subpage .decor-flor {
  opacity: 0.3;
}

/*Posiciones*/
.flor1 {
    top: 40px;
    left: 50px;
    width: 180px;
}
.flor2 {
    top: 450px;
    left: 70px;
    width: 160px;
}
.flor3 {
    top: 220px;
    right: 60px;
    width: 170px;
}
.flor4 {
    top: 620px;
    right: 50px;
    width: 150px;
}